.title {
  font-size: 32px;
  margin: 30px 0;
}

.contentWrapper {
  display: flex;
  margin-bottom: 30px;
}

.infoWrapper {
  margin-left: 150px;

  @media screen and (max-width: 1200px){
    margin-left: 50px;
  }
}

table {
  height: 400px;
}

td {
  width: 150px;
}

.overviewTitle {
  font-size: 24px;
  margin-bottom: 10px;
}