.contentWrapper {
  display: flex;
  margin-bottom: 30px;
}

.infoWrapper {
  margin-left: 150px;
}

table {
  height: 400px;
}

td {
  width: 150px;
}

.overviewTitle {
  font-size: 24px;
  margin-bottom: 10px;
}