html {
  box-sizing: border-box;
  color: #f3cba5;
  background-color: #25161b;
  font-family: 'Montserrat', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1201px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  display: block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-header {
  width: 100%;
  background-color: #453953;
}

.navigation {
  margin-bottom: 30px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
 }

.logo-title {
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 10px;
  color: #f3cba5;
  font-weight: 600;
  margin-left: 5px;
}

.nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: 100px;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 10px;
  color: #f3cba5;
  opacity: 0.5;
  font-weight: 600;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover {
  opacity: 1;
}

.active-link {
  opacity: 1;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-link {
  text-decoration: none;
}

.movie-link:hover {
  opacity: 0.7;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.movie-item {
  width: 230px;
  height: 400px;
  margin-bottom: 20px;
  color: #f3cba5;
}

.movie-title {
  color: #f3cba5;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}